<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utility.ExtenReportNG" />
</listeners>
  <test name="Test">
    <classes>
      <class name="TestCases.Add_Update_Pet_Request"/>
       <class name="TestCases.DeletePetRequest"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
